*~
*.o
*.lo
*.la
*.deps
*.libs
*.pyc
aclocal.m4
ar-lib
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
Makefile.in
Makefile
linux_64
config/test-driver
.dirstamp
stamp-h1
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/Makefile.aclocal
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/libtool.m4
config/ltmain.sh
config/ltoptions.m4
config/ltsugar.m4
config/ltversion.m4
config/lt~obsolete.m4
config/missing
config/py-compile
configure
libtool
src/fitsProcess
src/pfits_fv
src/pfits_bpass
src/pfits_plot
src/pfits_plotfold
src/pfits_plotsearch
src/pfitsUtil_copyToNew
src/pfitsUtil_foldmode_combineFreq
src/pfitsUtil_foldmode_combineTime
src/pfitsUtil_foldmode_extractFreq
src/pfitsUtil_foldmode_extractTime
src/pfitsUtil_foldmode_useTemplate
src/pfitsUtil_headerInformation
src/pfitsUtil_searchMode_extractPart
src/pfitsUtil_searchmode_combineFreq
src/pfitsUtil_searchmode_combineTime
src/pfitsUtil_updateMetaData
